<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
</head>
<body>
	<h1>Order Index</h1>

	<!--loop that makes the orders that were made-->
	<ul>
		<% for (let i = 0; i < orders.length; i++) { %>
		<li><a href="/orders/<%=orders[i]._id%>"> <%=orders[i].name%> </a></li>
		<% } %>
	</ul>
	
	
		<li><a href="http://localhost:3000/orders">Home</a></li>
		<li><a href="http://localhost:3000/orders/new">New Order</a></li>
</body>
</html>

