<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<h1>New Order Page</h1>

	  <form action="/orders" method="POST">
		    Order Number: <input type="text" name="orderNum"><br/>
		   	Order Name: <input type="text" name="orderName"><br/>
	    <input type="submit" name="" value="Submit Order">
	  </form>

	<button><a href="http://localhost:3000/orders/">home</a></button>
</body>
</html>