<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
</head>
<body>
	<h1>Individual Order Show Page</h1>

	<!--loop that makes the orders that were made-->
	<ul>
		<li><a href="http://localhost:3000/">Home</a></li>
	</ul>
</body>
</html>

